@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Lato:wght@300&family=M+PLUS+1:wght@300&family=Outfit:wght@300&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

:root {
    --main-bg-color: #000000;
    --main-container-color: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: azure;
}

header {
    background-color: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 10px;
    margin-right: 10px;
}

.logo img {
    width: 111px;
}

nav ul {
    display: flex;
    height: 77px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    font-weight: bold;
}

.container {
    min-height: calc(100vh - 77px - 12vh);
}

.head-home {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
}

.head-img {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.head-img img {
    width: 241px;
    border-radius: 50%;
}

.card {
    max-width: 91vw;
    margin: auto;
    overflow: hidden;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    border: 2px solid rgba(37, 35, 35, 0.5);
    padding: 10px;
    border-radius: 7px;
    background-color: antiquewhite;
}

.card-item img {
    border-radius: 5px;
}

.lines {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin-top: 10px;
}

.btn {
    background-color: #0069d9;
    width: 144px;
    height: 35px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-top: 10px;
}

.btn a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: 'Outfit', sans-serif;
    transition: .15s;
}

.btn a:hover {
    background-color: #15579e;
    border-radius: 4px
}

.container-know-more {
    min-height: calc(100vh - 77px - 12vh);
}

.head-apj {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
}

.text-apj {
    margin-top: 10px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.head-know {
    margin-top: 15px;
}

.list-item {
    background-color: aquamarine;
    width: 95vw;
    height: 43px;
    margin: 10px auto;
    border-radius: 6px;
    box-sizing: border-box;
}

.list-item a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 15px;
    transition: .15s;
}

.list-item a:hover {
    background-color: rgb(219, 156, 105);
    border-radius: 6px;
}

.head-know1 {
    margin-top: 10px;
}

.know-text {
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    line-height: 24px;
}

.know-text p {
    margin-top: 20px;
}
.list{
    max-width: 100vw;
    margin: auto;
}
.lists{
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.list-item-articles {
    background-color: aquamarine;
    width: 48%;
    height: 67px;
    margin: 20px 10px;
    border-radius: 6px;
    box-sizing: border-box;
}
.list-item-articles p{
    text-align: center;
}

.list-item-articles a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 18px;
    transition: .15s;
}

.list-item-articles a:hover {
    background-color: rgb(219, 156, 105);
    border-radius: 6px;
}
.details p{
    margin-top: 5px;
    margin-bottom: 10px;
}
.habits a:hover{
    text-decoration: underline;
}
/* .quotes{
    width: fit-content;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
} */
.quote2{
    margin-top: 30px;
    margin-left: 20px;
}
.quotes{
    margin-top: 20px;
}

footer {
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 12vh;
    font-family: 'Baloo Bhai 2', cursive;
}